
#img-leon{
	margin-top:100px;
	margin-bottom: 50px;
	max-width: 100%;
}

#especial{
	border-top: 5px #2e6f97 solid;
	position: absolute;
	width: 100%;
	height: 80px;
	bottom: 0px;
	background: #fff;
	margin:0px;
}

body{
	background-image: url("../img/main_background.jpg");
    background-attachment: fixed;;
}

#bar-logo{
    width:35%;
}
#bar-usuario-imagen{
    width: 80%;
    background: #eee;
    border-radius: 55%;
}
#bar-usuario-nombre{
    padding:0px;
    margin: 10px;
}
#main-contenedor{
    padding:0px 0px 100px 0px;
    background: #eee;

}

#izq-contenedor{
    background: #dce1e6;
    margin: 0px 15px 0px 40px;
    border-radius: 5px;
}

#der-contenedor{
    border:2px solid black;
    border-radius: 5px;
    padding:0px;  
}

#der-contenedor .jumbotron{
    margin-bottom: 2px;
}

.boton-opcion{
    margin: 10px;
    width: 130px;
    background-color: #169bd5;
}
#preview img {
   width: 51px;
   height: 51px;
    background: #eee;
    border-radius: 55%;
    margin right: 600px;
}
#preview{
    margin-right: 14px;
    
}