/*
    Nombre: Juan Pablo Gallardo Ochoa
    Descripción: Código de estilos de lapantalla de archivos pendientes.
    Fecha: 15 de Mayo del 2018
*/
#tablaArchivos{
    padding: 10px;
    margin: 10px;
    font-family: 'Lucida Sans';
}

#btn-cont{
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans';
    text-align: center;
}

button{
    background: #009900;
    width: 180px;
}


