
#bar-logo{
    width:35%;
}
#bar-usuario-imagen{
    width: 80%;
    background: #eee;
    border-radius: 55%;
}
#bar-usuario-nombre{
    padding:0px;
    margin: 10px;
}
#main-contenedor{
    padding:0px 0px 100px 0px;
    background: #eee;

}

#izq-contenedor{
    background: #dce1e6;
    margin: 0px 15px 0px 40px;
    border-radius: 5px;
}

#der-contenedor{
    border:2px solid black;
    border-radius: 5px;
    padding:0px;    
}

#der-contenedor .jumbotron{
    margin-bottom: 2px;
}

body{
	background-image: url("../../img/main_background.jpg");
	background-attachment: fixed;;
}

.boton-opcion{
    margin: 10px;
    width: 130px;
    background-color: #169bd5;
}
/*009900*/
.test{
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
}
