
/*
    Nombre: Angel Hernández Rivera
    Descripción: Código de estilos de las pantallas de usuario.
    Fecha: 15 de Mayo del 2018
*/
#formulario{
	font-size: 20px;
}

#nota{

	padding-right: 30px;
}
#lbl-credencial{

	padding-right: 30px;
}
#img-perf{
    margin: 10px;
    padding: 10px;
    float: right;
    width: 40%;   
}
#Explorador{
font-size: 11px;
}
#lbl-nota{
background-color: #D8D8D8;
}

label{
    font-size: 15px;
    font-family: 'Lucida Sans';
}

